
.m {
	background: #fff url(background.png) repeat-x top;
	font-size: 12px;
}

#snk fieldset {
	border: 0;
}

#element-box label, #element-box input, #element-box textarea, #element-box select, #element-box img, #element-box button {
	clear :none;
	float: none;
	margin: 0;
	display: inline;
}

#element-box h1, #element-box h2, #element-box h3, #element-box h4 {
	display: block;
	font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

#element-box h1 {
	background: inherit;
	color: #0E4DAD;
	font-size: 1em;
	font-weight: bold;
	margin: 0.4em 0px 1.5em;
	padding: 0px;
	text-align:left;
}
#element-box h2 {
	background-color: #0E4DAD;
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.2em 0px 0.5em;
	padding: 0.2em;
}

#element-box th {
	font-weight: bold;
}
#element-box td,#element-box th {
	display: table-cell;
	vertical-align: inherit;
	text-align:left;
}

#element-box p {
	line-height: 1.5em;
	margin: 0px 0px 1em;
}
#termin-liste{
	width:100%
}

#termin-liste-leftcol{
	width:20%;
}

#typo3-docbody-content
{
	padding: 2em 1em 1em 0;
	margin-left:10px;
}
/* Mittlere Spalte */
#typo3-inner-docbody
{
	padding: 0 !important;
	border: 2px solid #D3D3D3;
	background: #fff url(bg_h1.png) repeat-x top;
	position:relative;
}

#typo3-inner-docbody-content { 
	padding: 0;
	margin: 0 1em 0 1em;
}

#corner{
	border:0; 
	position:absolute; 
	top:-2px; 
	right:-3px;
}

